fractals/__pycache__/__init__.cpython-313.pyc
fractals/__pycache__/barnsley_fern.cpython-313.pyc
fractals/__pycache__/burning_ship.cpython-313.pyc
fractals/__pycache__/julia.cpython-313.pyc
fractals/__pycache__/mandelbrot.cpython-313.pyc
fractals/__pycache__/newton.cpython-313.pyc
fractals/__pycache__/sierpinski_triangle.cpython-313.pyc
fractals/__pycache__/__init__.cpython-313.pyc
fractals/__pycache__/barnsley_fern.cpython-313.pyc
fractals/__pycache__/burning_ship.cpython-313.pyc
fractals/__pycache__/julia.cpython-313.pyc
fractals/__pycache__/mandelbrot.cpython-313.pyc
fractals/__pycache__/newton.cpython-313.pyc
fractals/__pycache__/sierpinski_triangle.cpython-313.pyc
*.pyc
